.App {
  text-align: center;
  background-color: rgb(164,203,243);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.homepage{
  display: grid;
  height: 100vh;
  width: 100vw;
}

.greeting{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: -1%;
}

.renderQuote{
  margin-top: 10%;
  padding: 0px 100px;
}

.startWork{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.startWorkButton{
  font-size: 30px;
  border: solid whitesmoke 1px;
  cursor: pointer;
  font-size: 30px;
  background-color: transparent;
  color: whitesmoke;
  transition: 0.5s;
}

.startWorkButton:hover{
  color: rgb(199, 182, 182);
}

.toDoListPage{
  /* display: grid; */
  height: 100vh;
  width: 100vw;
}

.renderTasks ul li{
  display: inline-block;
  justify-content: center;
  width: 30%;
}

.timeAndDate{
  width: 90vw;
  display: flex;
  justify-content: space-between;
  padding-left: 3%;
}

.enterTime {
  align-content: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.enterTime p {
  align-content: center;
  margin: -1px 5px;
  font-size: 25px;
}

.enterTime input {
  font-size: 20px;
  margin: 0px 5px;
  background-color: transparent;
  border: solid whitesmoke 1px;
  color: whitesmoke;
}

.timerSubmit{
  cursor: pointer;
}

.timerSubmit:hover{
  color: rgb(199, 182, 182);
} 

.individualTask{
  height: 100vh;
  width: 100vw;
  display: grid;

}
.timer{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 40px;
}
.renderedTime h4 {
  align-content: center; 
  font-size: 30px;
  margin: 0px 0px;
  padding: 0px 15px;
}

.containerTimer button {
  margin-top: 20px;
  font-size: 30px;
  border: solid whitesmoke 1px;
  cursor: pointer;
  font-size: 30px;
  background-color: transparent;
  color: whitesmoke;
  transition: 0.8s;
}

.containerTimer button:hover{
  color: rgb(199, 182, 182);
}

.finishedTask button {
  font-size: 20px;
}

.taskDetails input{
  width: 70vw;
  height: 30vh;
  background-color: transparent;
  border: solid whitesmoke 1px;
  font-size: 30px;
}

.innerFormDiv input {
  background-color: transparent;
  width: 30%;
  height: 40%;
  font-size: 30px;
  border: solid whitesmoke 1px;
  margin-right: 1%;
  cursor: pointer;  
}

.innerFormDiv input::-webkit-input-placeholder {
  color: whitesmoke;
  transition: opacity .2s ease-in-out;
}

.innerFormDiv input:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

.innerFormDiv button {
  font-size: 30px;
  border: solid whitesmoke 1px;
  cursor: pointer;
  font-size: 30px;
  background-color: transparent;
  color: whitesmoke;
  transition: 0.8s;
}

.innerFormDiv button:hover{
  color: rgb(199, 182, 182);
}

.renderTasks li{
  font-size: 30px;
  color: whitesmoke;
}

.renderTasks button{
  font-size: 30px;
  color: whitesmoke;
  background-color: transparent;
  border: solid whitesmoke 1px;
  transition: 0.8s;
  cursor: pointer;
}

.renderTasks button:hover{
  color: rgb(199, 182, 182);
}

.renderTasks input{
  width: 30px;
  height: 30px;
  cursor: pointer;
  /* -webkit-appearance: none; */
  /* appearance: none; */
  /* background-color: none;
  border: solid whitesmoke 1px; */
  /* align-items: center;
  align-content: center; */
}

/* .renderTasks input:checked{
  background-color: transparent;
} */

/* .renderTasks input:checked:after{
  display: flex;
  align-items: center;
  align-content: center;
} */

/* .renderTasks input:after{
  background-color: transparent;
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  color: whitesmoke;
  display: none;
} */

.finishedTask button{
  font-size: 30px;
  color: whitesmoke;
  background-color: transparent;
  border: solid whitesmoke 1px;
  transition: 0.8s;
  cursor: pointer;
}

.finishedTask button:hover{
  color: rgb(199, 182, 182);
}

.dateOnIndividualTask {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  padding-left: 3%;
}