.App {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.homepage{
  display: grid;
  height: 100vh;
  width: 100vw;
}

.greeting{
  display: grid;
  justify-content: center;
  align-items: center;
}

.renderQuote{
  margin-top: 10%;
}

.startWork{
  display: flex;
  justify-content: center;
  align-items: center;
}

.startWorkButton{
  height: 20%;
  width: 40%;
  /* margin-left: -210%; */
}

.toDoListPage{
  /* display: grid; */
  height: 100vh;
  width: 100vw;
}